<!Doctype html>
<html>
    <head>
    
    </head> 
    <body>
  <form method='post' action='/login'>
  <label>Firstname<input type='text' name='firstname' /> </label>
  <label>Lastname<input type='text' name='lastname' /> </label><br> 
  <label>Email<input type='email' name='email' /> </label><br> 
  <label>Password<input type='password' name='password' /> </label><br>
  <input type='submit' value='Signup'/> 
   </form>
   
    </body>
 
</html>